/*General Formatting*/
body, html, head {
    background-color: lightblue;
    height: 100%;
    margin: 0px;
    object-fit: contain;
   
}

.content {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-bottom: 250px;
}
h1 {
  color: black;
  background-color: grey;
  text-align: middle;
  font-size: 50px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 90px;
}

.menu {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    object-fit: contain;
  }
  

  .menu a {
    float: left;
    width: 25%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 30px;
  }

  .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .menu a.active {
    background-color: #04AA6D;
    color: white;
  }

  /*Main Page Links to view reviews page*/

  .review1{
    background-color: blue;
    width: 50%;
    height: 50px;
    border: 1px solid black;
    opacity: 0.8;
    margin: auto;
    padding: 15px;
   

  }
  .review2{
    background-color: green;
    border: 1px solid white;
    overflow: hidden;
    width: 50%;
    height: 50px;
    opacity: 0.8;
    margin: auto;
    padding: 15px;
    
  }
  .review3{
   
    background-color: Pink;
    border: 1px solid white;
    overflow: hidden;
    width: 50%;
    height: 50px;
    opacity: 0.8;
    margin: auto;
    padding: 15px;
  }
  .review4{
    background-color: orange;
    border: 1px solid white;
    overflow: hidden;
    width: 50%;
    height: 50px;
    opacity: 0.8;
    margin: auto;
    padding: 15px;
  }

 

/*Cliff's additions */
.reviewBody{
    width: 75%;     
    margin: auto;   
}

.reviewPost{
    background-color: whitesmoke;
    text-align: left;
    padding: 10px 40px 10px 40px;
    margin-bottom: 75px;
}



.highlight {
    color: orange;
    
  }



  .upvote input[type="checkbox"],
.upvote .checked {
    display: none;
}
 
.upvote input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.upvote input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.downvote input[type="checkbox"],
.downvote .checked {
    display: none;
}
 
.downvote input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.downvote input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.upvote{
  margin-right:50px;
  margin-left: 10px;
}

.downvote{
  margin-left: 10px;
}

.expandDetails input[type="checkbox"],
.expandDetails .checked {
    display: none;
}
 
.expandDetails input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.expandDetails input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.expandDetails{
    float:right;
    text-align:right;
}


.expandComments input[type="checkbox"],
.expandComments .checked {
    display: none;
}
 
.expandComments input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.expandComments input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.comments{
    margin-top: 15px;;
    
}

.expandCommentsHeader{
    font-size: 18px;
    font-weight: 100;
}

.numVotes{
    margin-top: -10px;;
    font-size:36px;
}