/*General Formatting*/
body, html, head {
    background-color: lightblue;
    height: 100%;
    margin: 0px;
    object-fit: contain;
   
}

.content {
    background-image:url("ucrossing.png");
    height: 100%;
    min-width: 600px;
    min-height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
h1 {
    color: black;
    background-color: grey;
    text-align: middle;
    font-size: 50px;
  
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 90px;
}

.menu {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    object-fit: contain;
    
  }
  

  .menu a {
    float: left;
    width: 20%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
 
    text-decoration: none;
    font-size: 30px;
  }

  .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .menu a.active {
    background-color: #04AA6D;
    color: white;
  }

  /*Review Page*/

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .drop1, .drop2 {
    position: relative;
    display: inline-block;
  }
  
  .drop1-options, .drop2-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .drop1-options a, .drop2-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .drop1-options a:hover {background-color: #ddd;}
  
  .drop1:hover .drop1-options {display: block;}
  
  .drop1:hover .dropbtn {background-color: #3e8e41;}

  .drop2-options a:hover {background-color: #ddd;}
  
  .drop2:hover .drop1-options {display: block;}
  
  .drop2:hover .dropbtn {background-color: #3e8e41;}

  #comment{
    width: 400px;
    height: 300px;
    text-align: top;
  }