
  /*Review Page*/

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .drop1, .drop2 {
    position: relative;
    display: inline-block;
  }
  
  .drop1-options, .drop2-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .drop1-options a, .drop2-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .drop1-options a:hover {background-color: #ddd;}
  
  .drop1:hover .drop1-options {display: block;}
  
  .drop1:hover .dropbtn {background-color: #3e8e41;}

  .drop2-options a:hover {background-color: #ddd;}
  
  .drop2:hover .drop1-options {display: block;}
  
  .drop2:hover .dropbtn {background-color: #3e8e41;}

  #comment{
    width: 400px;
    height: 300px;
    text-align: top;
  }